@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(fontes/BebasNeue-Regular.ttf);
}


:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.cabecalho {
    background: linear-gradient(180deg, #2fa866, #1a5c37, #063d1e);
    color: white;  
}


.cabecalho h1 {
    font-family: var(--fonte-destaque);
    font-size: 2.8em;
}


.cabecalho h1, p {
    text-align: center;
    padding: 10px 0px 10px 0px;
}


.menu {
    padding: 10px;
}


.menu a {
    text-decoration-color: none;
    color: white;
    font-weight: 700;
    padding: 11px;
    border-radius: 20px;
}


body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}


.conteudo article {
    background-color: white;
    padding: 20px;
    width: 60%;
    min-width: 450px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.418);
}


article p, h1, h2 {
    text-align: justify;
}


article h1, h2 {
    font-family: var(--fonte-android);
    color: var(--cor5);
}


article h2 {
    background-color: #44b87848;
    font-size: 1.3em;
}


article p {
    text-indent: 20px;
    font-family: var(--fonte-padrao);
    font-weight: normal;
    font-size: 1.1em;
}


.fundo {
    padding: 15px 0px 15px 0px;
    background-color: #1A5C38;
    width: 100%;
}


article .video {
    display: block;
    margin: auto;
    width: 90%; 
}


.imagem img{
    display: block;
    width: 100%;
}


.bugdroid img{
    display: block;
    min-width: 300px;
    max-width: 400px;
    margin: auto;
}


.caixa {
    display: block;
    margin: auto;
    background-color: var(--cor0);
    margin-top: 20px;
    width: 95%;
    border-radius: 5%;
    text-align: left;;
}


.caixa h4 {
    padding: 10px;
    background-color: var(--cor3);
    border-radius: 20px 20px 0px 0px;
    color: white;
}


.caixa p {
    text-indent: 20px;
    text-align: justify;
    padding: 5px 15px 5px 15px;
}


.caixa ul {
    columns: 2;
    padding-left: 20px;
    list-style-type: none;
}


.rodape {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}


.rodape p {
    padding: 0;
    color: white;
}


.menu a:hover {
    background-color: var(--cor1);
}